{% extends "base.html" %}

{% block content %}


<div class="container" id="map-container" style="max-width: 100%;">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog float-left" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Open Image ID: </strong>{{photo[0]}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="../static/images/{{ photo[21] }}" />


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="zoom" data-dismiss="modal">zoom on map</button>
      </div>
    </div>
  </div>
</div>

<div id="mapid"></div>

</div> <!-- container -->

<div class="container" id="metadata-container" style="max-width: 100%;">
<div class="row" style="margin-top: 20px; width: 100%;">

<div class="col">
    
<img style="border: 1px solid #dee2e6;" class="img-fluid" src="../static/images/{{ photo[21] }}" />
</div> <!-- column -->

<div class="col">

<table class="table table-sm table-striped" id="metadata-manifest">
  <thead>
  </thead>
  <tbody>
    {% if photo[24] != None or photo[25] != None %}
    <tr>
      <th scope="row">Place:</th>
      <!-- TODO: Wikipedia preview -->
      <td>{{ photo[24] }}{% if photo[24] != None and photo[25] != None %}, {% endif %} {{ photo[25] }}</td>
    </tr>
    {% endif %}
    {% if photo[7] != "None" %}
    <tr>
      <th scope="row">Open Image:</th>
      <td><a target="_blank" href="../static/images/{{ photo[21] }}">{{photo[21]}}</a></td>
    </tr>
    <tr>
      <th scope="row">Title:</th>
      <td>{{photo[7]}}</td>
    </tr>
    {% endif %}
    {% if photo[6] != "None" %}
    <tr>
      <th scope="row">Creator:</th>
      <td>{{photo[6]}}</td>
    </tr>
    {% endif %}
    {% if created !="None" %}
    <tr>
      <th scope="row">Creation date:</th>
      <td>{{ created }}</td>
    </tr>
    {% endif %}
    {% if photo[13] != "None" %}
    <tr>
      <th scope="row">Description:</th>
      <td>{{photo[13]}}</td>
    </tr>
    {% endif %}
    {% if photo[8] != "None" %}
    <tr>
      <th scope="row">File size:</th>
      <td>{{ photo[8] | filesizeformat(true) }}</td>
    </tr>
    {% endif %}
    {% if photo[15] != "None" %}
    <tr>
      <th scope="row">Width:</th>
      <td>{{ photo[15] }}</td>
    </tr>
    {% endif %} 
    {% if photo[16] != "None" %}
    <tr>
      <th scope="row">Height:</th>
      <td>{{ photo[16] }}</td>
    </tr>
    {% endif %}
    {% if photo[17] != "None" %}
    <tr>
      <th scope="row">Resolution:</th>
      <td>{{ photo[17] }}</td>
    </tr>
    {% endif %}
    {% if photo[14] != "None" %}
    <tr>
      <th scope="row">Mimetype:</th>
      <td>{{ photo[14] }}</td>
    </tr>
    {% endif %}   
    {% if photo[18] != "None" %}
    <tr>
      <th scope="row">Latitude:</th>
      <td>{{photo[18]}}</td>
    </tr>
    {% endif %}
    {% if photo[19] != "None" %}
    <tr>
      <th scope="row">Longitude:</th>
      <td>{{photo[19]}}</td>
    </tr>
    {% endif %} 
    {% if photo[20] != "None" %}
    <tr>
      <th scope="row">Altitude:</th>
      <td>{{photo[20]}}</td>
    </tr>
    {% endif %}
    {% if photo[4] != "None" %}
    <tr>
      <th scope="row">License:</th>
      <td><a target="_blank" href="{{photo[4]}}">{{ photo[4] }}</a></td>
    </tr>
    {% endif %}
    {% if photo[22] != "None" %}
    <tr>
      <th scope="row">Manifest:</th>
      <td><a href="../static/images/{{ jsonld }}">{{ jsonld }}</a></td>
    </tr>
    {% endif %}
  </tbody>
</table>
<div class="float-left" style="margin-right: 15px;"><img height="50px" src="{{ url_for('static', filename='assets/filecoin-logo.svg') }}" id="filecoin-logo" /></div>
<div><strong>Package: </strong><a href="{{ url_for('filecoin_download', package=photo[22], cid=cid[0]) }}">{{ photo[22] }}</a> ({{ cid[1] | filesizeformat(true) }})<br />
<strong>CID: <a href="https://filecoin.tools/{{cid[0]}}">{{ cid[0] }}</a></div>

</div> <!-- column -->
</div> <!-- row -->

<div class="row" style="margin: 50px 0 0 0;">

<div class="col">
<h4>Machine learning annotations</h4>
<strong>Type: </strong>tags <br />
<strong>Function: </strong>training <br />
{% for annotation in annotations %}


<a href="#"><span class="tag">{{ annotation[2] }}</span></a>

{% endfor %}
</div> <!-- column -->
<div class="col">
</div> <!-- column -->
</div> <!-- row -->

</div> <!-- container -->



{% endblock %}

{% block extra_js %}
<script type="application/javascript">

    $(document).ready(function(){
        $("#myModal").modal('show');
        });
    
    $("#zoom").click(function(){
        mymap.flyTo([ {{ photo[18] }}, {{ photo[19] }} ], 18)
        });

    var mymap = L.map('mapid').setView([ {{photo[18] }}, {{ marker }} ], 3); /* set long to -50 */

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicGV0ZXItdmciLCJhIjoiY2tnNXhvZmI1MHhvbTJybXN2dmZtMW4wdiJ9.hf_TPGvkWbgo4TweQGuDZA', {
        maxZoom: 20,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/satellite-streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);

    var marker = L.marker([ {{ photo[18] }}, {{ photo[19] }} ]).on('click', markerOnClick).addTo(mymap);

    function markerOnClick(e)
    {
      window.location.href = '#metadata-container';
    }
</script>




{% endblock %}
