{% extends "base.html" %}

{% block content %}

<h1 class="header">Deplatformr liberates your data</h1>

<ol>
    <li>Select a content platform from the menu on the left.</li>
    <li>Follow instructions on how to export and deplatform your content.</li>
    <li>Upload your content to Deplatformr.</li>
    <li>Deplatformr will re-process your content and move it to decentralized storage on the Filecoin network.</li>
    <li>All your metadata, content, and AI models are encrypted. Only you have access to the decryption keys.</li>
    <li>You can view and manage content from each individual platform using the menus on the left.</li>
    <li>You can also access all your files from across all of the platforms via the Filecoin menu.</li>
    <li>Export your Filecoin information. You can always retrieve the files from the decentralized network yourself if you no longer want to use Deplatformr.
    <li>Your Deplatformr subscription pays for storing content on Filecoin. Click on your user name in the top right menu to view and/or top up your account balance.</li>
    <li>Click on the Filecoin menu to see information about the storage deals that Deplatformr has made for you on the Filecoin network, along with your current Filecoin wallet balance.</li>
</ol>
<hr>

{% endblock %}

