venv/
.vscode/
.DS_Store
pipeline/source_data/
pipeline/deplatformr_open_images_workflow.sqlite
pipeline/deplatformr_open_images_workflow.sqlite-journal
pipeline/deplatformr_open_images_workflow.sqlite.copy
pipeline/deplatformr_open_images_workflow copy.sqlite
pipeline/scripts/__pycache__
pipeline/controller2.py
pipeline/deplatformr_open_images_workflow.sqlite.copy
pipeline/nohup.out
powergate/info/
powergate/jobs_report.txt
map/map/__pycache__
map/__pycache__
map/_filecoin_downloads/
map/map/deplatformr-open-images.sqlite-journal
map/map/deplatformr_open_images_v6.sqlite
map/map/deplatformr_open_images_v6.sqlite-journal
map/map/static/images/
map/map/deplatformr-open-images.sqlite