venv/
.DS_Store
pipeline/source_data/
pipeline/deplatformr_open_images_workflow.sqlite
pipeline/deplatformr_open_images_workflow.sqlite-journal
pipeline/deplatformr_open_images_workflow.sqlite.copy
pipeline/scripts/__pycache__
pipeline/controller2.py
pipeline/deplatformr_open_images_workflow.sqlite.copy
pipeline/nohup.out
pipeline/nohup2.out
powergate/info/
powergate/cid-repush.txt
map/map/__pycache__
