body {
  background-color: #FFF;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

#mainNav {
    height: 75px;
    background-color: #000;
    color: #FFF;
}

.navbar-brand {
    margin-left: 30px;
}

#mainNav a {
}

#mainNav a:hover{
}

.topmenu-icon a {
    color: #FFF;
}

.col {
    padding-left: 0 !important;
}

.tag {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: .5rem;
  max-width: auto;
  float: left;
}



#mapid { height: 700px; width: 97%; }