body {
  background-color: #FFF;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

#mainNav {
    height: 75px;
    background-color: #000;
    color: #FFF;
}

.navbar-brand {
    margin-left: 10px;
}

#mainNav a {
}

#mainNav a:hover{
}

.topmenu-icon a {
    color: #FFF;
}

.form-control.labelSelect{
  width: 50% !important;
  margin: 0 20px !important;
}

b  {
    font-weight: bolder !important;
    text-decoration: underline;
}

#myModal {
    margin-left: 100px; 
    margin-top: 100px;
}

#mapid { 
    height: 700px; 
    width: 100%; 
}

#map-container {
  padding: 0 30px 0 0;
}

#metadata-container {
  padding-top: 80px;
}

.col {
    padding-left: 0 !important;
}

.tag-container {
  margin-top: 15px;
  clear: both;
}

.tag {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: .5rem;
  max-width: auto;
  float: left;
}

.cleartag {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: .5rem;
  max-width: auto;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#page-content-wrapper{
    margin: 0 30px 0 0;
    padding-top: 75px;
    padding-bottom: 100px;
}

#page-content-wrapper a{
    color: #379683;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    margin-top: 30px;
    overflow-y: auto;
    overflow: hidden;
    background-color: #FFF;
    border-right: 1px solid #e9ecef;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    background: #FFF;
    color: #000;

}

#sidebar-wrapper .sidebar-nav li a:hover {
    color: #379683;
}

a.submenu {
    background: #FFF;
    color: #000;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    color: #000;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    body {
        font-size: 100%;
    }
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #page-content-wrapper{
        margin-left: 60px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 250px;
        height: 0;
    }
    .topmenu-title {
        visibility: hidden;
        display: inline-block;
        width:0px;
    }
    .topmenu-icon {
        margin: 0 10px 0 0;
    }
}

.instructions{
    max-width: 800px;
    border: 1px solid black; 
    margin: 15px 0;
}

